<?xml version="1.0" encoding="utf-8"?>

<launch>

<arg name="debug" default="false" />
<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

<group ns="acc0">
<node name="jsk_stm0" pkg="jsk_stm" type="jsk_stm_node" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
  <param name="serial_port" value="/dev/ttyUSB0" />
</node>
</group>

<group ns="acc1">
<node name="jsk_stm1" pkg="jsk_stm" type="jsk_stm_node" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
  <param name="serial_port" value="/dev/ttyUSB1" />
</node>
</group>

</launch>
