<?xml version="1.0" encoding="utf-8"?>

<launch>

  <include file="$(find rosserial_stm)/launch/rosserial.launch" >
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baud" default="921600" />
  </include>

  <node name="imu_visualization" pkg="jsk_stm" type="imu_visualization_node" respawn="false"  output="screen">
  </node>
</launch>
