<launch>

  <node pkg="mocap_retime" type="mocap_retime_node" name="mocap_retime" output="screen">
    <param name="retimeFlag" type="bool" value="false" />
    <param name="rxFreq" type="double" value="100.0" />
    <param name="cutoffPosFreq" type="double" value="20.0" />
    <param name="cutoffVelFreq" type="double" value="20.0" />
  </node>

</launch>
